:root {
	--h1-color: rgb(0, 0, 0);
	--h2-color: rgb(40, 40, 40);
	--h3-color: rgb(60, 60, 60);
	--text-color: rgb(65, 65, 65);
	--underline-color: rgb(157, 157, 157);
	--border-color: #46DF86;
	--sections-gap: 32px;
}

@media print {
	@page {
		size: A4;
		margin: 10mm;
	}

	body {
		display: initial;
		min-height: unset;
		margin: 0;
		font-family: Arial, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		color: var(--text-color);
		background: none;
	}

	.container {
		padding: 0;
		background: none;
	}

	/* Header */

	.header {
		display: block;
		margin-bottom: var(--sections-gap);
		padding: 0 0 var(--sections-gap);
		border-bottom: 1px solid var(--border-color);
	}

	.header__link {
		display: none;
	}

	.header__desc {
		display: block;
	}

	.header__contact-link-pdf {
		display: inline;
	}

	.header__contact-link-site {
		display: none;
	}

	.header__title {
		margin: 0;
		font-size: 31px;
		
		font-family: 'Arial black';
		font-weight: 800;
		line-height: 1.1;
		color: var(--h1-color);
	}

	.header__job {
		padding-top: 4px;
		margin-top: 0;
		margin-bottom: 12px;
		font-size: 25px;
		color: var(--h2-color);
	}

	/* Body content */

	.main__title {
		padding-top: var(--sections-gap);
		margin: var(--sections-gap) 0 16px;
		font-size: 25px;
		color: var(--h2-color);
		border-top: 1px solid var(--border-color);
	}

	.main__job-title {
		font-size: 18px;
		line-height: 1.1;
		color: var(--h3-color);
	}

	.main__job-list {
		margin-top: 8px;
	}

	.rename-this-class > *:not(:last-child) {
		margin-right: 16px;
	}

	.main__job-info {
		font-size: 18px;
		line-height: 1.3;
	}

	/* Elements */

	.link {
		color: var(--text-color);
		border-width: 1px;
		border-color: var(--underline-color);
	}
}
