:root {
	--background-color: rgb(69, 73, 72);
	--background-content-color: rgb(232, 208, 222);
	--text-color: #454948;
	--link-color: #454948;
	--underline-color: #6f7876;
	--decorative-color: rgb(69, 73, 72);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	min-height: 100vh;
	margin: 30px;
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6;
	color: var(--text-color);
	background: var(--background-color);
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 32px;
	background: var(--background-content-color);
	border-radius: 10px;
}

/* Elements */

.rename-this-class {
	display: flex;
	align-items: baseline;
}
.rename-this-class > *:not(:last-child) {
	margin-right: 20px;
}

.link {
	text-decoration: none;
	color: var(--link-color);
	border-bottom: 1px solid var(--underline-color);
}

/* Header */

.header {
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding-bottom: 24px;
	border-bottom: 5px solid var(--decorative-color);
}

.header__contacts-list {
	display: inline-flex;
	/* align-content: space-between; */
	flex-wrap: wrap;
	align-items: start;
	margin: 0;
	padding: 0;
	list-style: none;
}
.header__contacts-list > *:not(:last-child) {
	margin-right: 18px;
}

/* .header__contact-item {
	position: relative;
	display: inherit;
	align-items: center;
} */

.header__contact-link-pdf {
	display: none;
}

.header__desc {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}
.header__desc > *:not(:last-child){
	margin-right: 20px;
}

.header__title {
	grid-area: 1 / 1 / 2 / 3;
	font-size: 48px;
	line-height: 1.1;
	font-style: normal;
	font-weight: 700;
}

.header__job {
	grid-area: 2 / 1 / 2 / 3;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.1;
}

.header__link {
	grid-area: 1 / 3 / 2 / 4;
	display: inline-flex;
	align-items: center;
	margin-left: auto;
	gap: 4px;
	border: 3px solid var(--underline-color);
	padding: 4px 12px;
	border-radius: 15px;
}

/* Body content */

/* .main {
	display: flex;
	flex-direction: column;
} */

.main__text:not(:last-of-type) {
	padding-bottom: 12px;
}

.main__title {
	margin: 40px 0 20px;
	padding-top: 8px;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.1;
}

.main__job + .main__job {
	margin-top: 16px;
}

.main__job-title {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.2;
}

.main__job-list {
	margin-top: 16px;
	margin-left: 32px;
	padding: 0;
}

/* b {
	font-weight: 500;
} */
