- var $name = "Vasiliy Dudin"
- var $email = "dudin.vasiliy@gmail.com"
- var $phone = "+44-3887-844-105"
- var $location = "London, UK"
- var $linkedin_url = "https://www.linkedin.com/in/vas-dudin/"
- var $linkedin_text = "linkedin.com/in/vas-dudin"
- var $website = "https://dudin.design"